<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- car_type options: 
      1. dsc_car_launch
      2. mae_148_car_launch
  /-->
  <arg name="car_type" value="mae_148_car_launch" />
  <param name="camera_type" type="str" value="$(arg car_type)"/>
  <rosparam command="load" file="$(find ucsd_robocar_lane_detection1_pkg)/config/ros_racer_calibration.yaml" />
  <include file="$(find ucsd_robocar_nav1_pkg)/launch/$(arg car_type).launch"/>
  <node name="lane_detection_node" pkg="ucsd_robocar_lane_detection1_pkg" type="lane_detection_node.py" />
  <node name="lane_guidance_node" pkg="ucsd_robocar_lane_detection1_pkg" type="lane_guidance_node.py" />
</launch>
