<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- car_type options: 
      1. dsc_car_launch
      2. mae_148_car_launch
      3. custom_car_launch
  /-->
  <arg name="car_type" value="mae_148_car_launch" />
  <!-- <include file="$(find ucsd_robocar_nav1_pkg)/launch/$(arg car_type).launch"/> /-->
  <include file="$(find hector_slam_launch)/launch/tutorial.launch"/>
  <include file="$(find ucsd_robocar_nav1_pkg)/launch/spawn_my_robot.launch"/>
</launch>
