<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Start throttle, steering, camera and lidar  -->
    <!-- car_type options: 
      1. dsc_car_launch
      2. mae_148_car_launch
      3. custom_car_launch
  /-->
  <arg name="car_type" value="mae_148_car_launch" />
  <include file="$(find ucsd_robocar_nav1_pkg)/launch/$(arg car_type).launch"/>

  <!-- Start RVIZ and load robot into map -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d /home/projects/ros1_ws/src/ucsd_robocar_hub1/ucsd_robocar_nav1_pkg/rviz/sensor_visualization.rviz" required="true" />
</launch>
