<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find ucsd_robocar_nav1_pkg)/launch/spawn_urdf.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="0.2" />
        <arg name="urdf_robot_file" value="$(find ucsd_robocar_nav1_pkg)/urdf/my_robot.urdf" />
        <arg name="robot_name" value="my_robot" />
    </include>

     <!-- Robot State Publisher -->
    <!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
        <param name="robot_description" command="cat $(find ucsd_robocar_nav1_pkg)/urdf/my_robot.urdf" />
    </node> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="map_odom_link_broadcaster" args="0 0 0 0 0 0 1 /map /odom 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="odom_base_link_broadcaster" args="0 0 0 0 0 0 1 /odom /base_link 100" />  -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="robot_footprint_broadcaster" args="0 0 0 0 0 0 1 /base_link /robot_footprint 100" /> -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="lidar_link_broadcaster" args="0 0 0.065 0 0 -0.701 0.701 /base_link /lidar_link 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0 0 0 0 0 0 1 /base_link /camera_link 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_FL_link_broadcaster" args="0 0 0 0 0 0 1 /base_link /wheel_FL 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_FR_link1_broadcaster" args="0 0 0 0 0 0 1 /base_link /wheel_FR 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_RL_link1_broadcaster" args="0 0 0 0 0 0 1 /base_link /wheel_RL 100" />
    <node pkg="tf" type="static_transform_publisher" name="wheel_RR_link1_broadcaster" args="0 0 0 0 0 0 1 /base_link /wheel_RR 100" /> 
    <!-- Show in rviz -->
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find ucsd_robo_car_simple_ros)/config/lidar_localize.rviz" required="true" /-->
</launch>
