<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- esc_type options: 
      1. adafruit
      2. vesc
  /-->
  <arg name="esc_type" value="vesc" />
  <include file="$(find ucsd_robocar_actuator1_pkg)/launch/$(arg esc_type)_twist_launch.launch"/>
  <include file="$(find ucsd_robocar_sensor1_pkg)/launch/lidar_ld06.launch"/>
  <include file="$(find ucsd_robocar_sensor1_pkg)/launch/camera_webcam.launch"/>
</launch>
